.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../../../../public/img/bannerCTD-bg.png);
    background-size: cover;
    background-attachment: fixed;
    border-radius: 5.5em;
    margin: 6em 6vw;
    padding: 3em 5em;
}

.container h3 {
    text-transform: uppercase;
    color: var(--cinza);
    font-size: 22px;
    letter-spacing: 2px;
}

.container a {
    color: var(--vermelho);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--cinza);
    padding: 1em 2.5em;
    border-radius: 2em;
}

.container a:hover{
    background-color: var(--branco);
    color: var(--verde-escuro);
    transition: 350ms;
}