.header {
    background-color: var(--verde-escuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    max-width: 100vw;
    z-index: 1;
}

.header div {
    display: flex;
    align-items: center;
    padding: .5em 2em;
}

.header ul {
    display: flex;
    gap: 2em;
}

.header li {
    list-style: none;
}

.header a {
    text-decoration: none;
    color: var(--branco);
}

.header a:hover {
    color: var(--vermelho);
}

#doar {
    background-color: var(--amarelo);
    font-weight: 900;
    color: var(--verde-escuro);
    padding: 1.5em 3em;
}

#doar:hover {
    background-color: var(--vermelho);
    color: var(--branco);
    transition: 350ms;
    cursor: pointer;
}