.header {
    background-color: #113f4a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

.header div {
    display: flex;
    align-items: center;
    padding: .5em 2em;
}

.header ul {
    display: flex;
    gap: 2em;
}

.header li {
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #FFFFFF;
}

.header a:hover {
    color: #d55342;
}

#doar {
    background-color: #e0b03f;
    font-weight: 900;
    color: #113f4a;
    box-sizing: border-box;
    padding: 1.5em 2em;
}

#doar:hover {
    background-color: #d55342;
    color: #FFF;
    transition: 350ms;
    cursor: pointer;
}