.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em 10%;
    background-color: var(--footer-bg);
}

.container div {
    padding: .5em 2em;
}

.container a {
    text-align: center;
    align-self: center;
    text-decoration: none;;
    font-weight: 600;
    background-color: var(--amarelo);
    color: var(--verde-escuro);
    padding: .5em 1em;
    margin: 2em;
    border: solid 2px var(--verde-escuro);
    border-radius: 1em;
}

.container a:hover {
    background-color: var(--vermelho);
    color: var(--branco);
    transition: 350ms;
}

.container div a {
    background-color: var(--verde-escuro);
    color: var(--branco);
    border: none;
    margin: 0;
}

.container div a:hover {
    background-color: var(--verde-escuro-hover)
}

.footer h5 {
    background-color: var(--verde-claro);
    text-transform: uppercase;
    color: var(--verde-escuro);
    font-size: 24px;
    margin: 0;
    text-align: center;
    padding: 1em;
}

.copy {
    background-color: var(--verde-escuro);
    color: var(--cinza);
    margin: 0;
    padding: .5em;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}

.copy span {
    color: var(--amarelo);
}