:root {
  --verde-escuro: #113f4a;
  --verde-escuro-hover: rgba(17, 63, 74, 0.9);
  --verde-claro: #40816ce9;
  --amarelo: #e0b03f;
  --vermelho: #ad4233;
  --branco: #ffffff;
  --cinza: #EAEAE8;
  --footer-bg: #d7cfb7;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--verde-escuro);
  position: relative
}

::-webkit-scrollbar-thumb {
  background-color: var(--amarelo);
  border-radius: 3px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: var(--cinza);
    color: var(--verde-escuro);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
